<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Rating App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Food Rating</h1>

    <h2>Add a dish:</h2>

    <form action="/addFood" method="POST">
        <input type="text" placeholder="Dish Name" name="dishName">
        <input type="text" placeholder="Rating out of ten" name="rating">
        <input type="submit">
    </form>


    <h2>Current Dishes/Food that has been rated</h2>

    <ul class="Food">
        <% for(let i=0; i < info.length; i++) {%>
            <li class="Food">
                <span><%= info[i].dishName %></span><br>
                <span><%= info[i].rating %></span>
                <span class='fa fa-trash'></span>
            </li>
        <% } %>
        </ul>



    <script src='js/main.js'></script>

</body>
</html>